*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(255, 253, 143);
}
#whole{
    border:2px solid black;
    width:800px;
    height:750px;
    display:flex;
    flex-direction: column;
    background: green;
    align-items: center;
    margin:50px auto;
    gap:90px;
    padding:50px 0 0 0;
    color:white;
}
#title{
    color:rgb(255, 255, 54);
    font-weight: bold;
}
#part{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.box{
    width:200px;
    height:50px;
    background: rgb(255, 255, 45);
    color:green;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.box:hover{
    background: rgb(107, 255, 70);
    color:rgb(255, 255, 255);
}
.box:active{
    background-color: rgb(255, 85, 85);
}

