*{
    margin:0;
    padding:0;
}
#whole{
    width:400px;
    height:400px;
    background: rgb(19, 40, 84);
    border-radius: 20px;
    margin:100px auto; 
    padding-top:100px;
    padding-left:70px;
    color:white;
}
#random{
    color:rgb(76, 241, 76);
}
#whole p{
    color:rgba(239, 239, 239, 0.863);
}
#generate{
    padding:10px;
    border-radius: 5px;
    background: rgb(41, 182, 64);
    color:white;
    border:none;
}
#line{
    width:350px;
    background: rgba(255, 255, 255, 0.229);
    height:1px;
    margin-top:50px;
    margin-bottom:30px;
}
#boxes{
    display:flex;
    justify-content: space-evenly;
    margin-right:80px;
    gap:40px;
}
.box{
    width:250px;
    height:27px;
    background-color: #1a5884a8;
    text-align: center;
    padding-top:5px;
    color:rgb(83, 255, 74);
    border-radius: 5px;
}
#generate:active{
    background-color: rgb(255, 255, 255);
    color:lightgreen;
}